<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="content/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/new_train.js"></script>
</head>
<body>
<div th:insert="header.html :: header-fragment"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    trainerId = /*[[${trainerId}]]*/ 0;
    /*]]>*/
</script>


<div class="section">
    <div style="margin-left: 18%">
    <select name="activityId" id="activityId" class="timetable_select">
    <option th:each="item : ${activityList}"
            th:value="${item.getActivityId()}"
            th:utext="${item.getName()}">
    </option>
</select>
    <input class="timetable_input" id="timeBegin" type="time">
    <input class="timetable_input" id="timeEnd" type="time">
        <button class="button button_timetable" onclick="refreshSchedule(--offset)">Назад</button>
        <button class="button button_timetable" onclick="refreshSchedule(++offset)">Вперед</button></div>
        <br>
    <table class="table_timetable"  id="schedule"></table>

</div>
<div class="copyright">
    &copy; 2019 Fitness club. All rights reserved.
</div>
</body>
</html>