<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="content/style.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/new_train.js"></script>
</head>
<body>
<div th:insert="header.html :: header-fragment"></div>
<script th:inline="javascript">
    /*<![CDATA[*/
    trainerId = /*[[${trainerId}]]*/ 0;
    /*]]>*/
</script>
<select name="activityId" id="activityId" class="timetable_select">
    <option th:each="item : ${activityList}"
            th:value="${item.getActivityId()}"
            th:utext="${item.getName()}">
    </option>
</select>
<input id="timeBegin" type="time">
<input id="timeEnd" type="time">
<button onclick="refreshSchedule(--offset)">Назад</button>
<button onclick="refreshSchedule(++offset)">Вперед</button>
<div class="section">
    <table id="schedule">
    </table>
</div>

</body>
</html>