<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get">
    <select name="trainerId">
        <option value="0">Все</option>
        <option th:each="item : ${trainerList}"
                th:value="${item.getTrainerId()}"
                th:text="${item.getSurname()} + ' ' + ${item.getName()}"
                th:selected="${item.getTrainerId() == trainerId}"/>
    </select>
    <select name="activityId">
        <option value="0">Все</option>
        <option th:each="item : ${activityList}"
                th:value="${item.getActivityId()}"
                th:utext="${item.getName()}"
                th:selected="${item.getActivityId() == activityId}"/>
    </select>
    <input name="dateBegin" type="date" th:value="${dateBegin}"/>
    <input name="dateEnd" type="date" th:value="${dateEnd}"/>
    <input name="timeBegin" type="time" th:value="${timeBegin}"/>
    <input name="timeEnd" type="time" th:value="${timeEnd}"/>
    <input name="submit" type="submit" value="Поиск"/>

</form>
<table>
    <tr>
        <td>Дата</td>
        <td>Тренировка</td>
        <td>Вермя начала</td>
        <td>Время окончания</td>
        <td>Тренер</td>
    </tr>
    <tr th:each="item : ${list}">
        <td th:text="${item.getDate()}"></td>
        <td><a th:href="@{'/activity/' + ${item.getActivityByActivityId().getActivityId()}}" th:text="${item.getActivityByActivityId().getName()}"></a></td>
        <td th:text="${item.getTimeBegin().toGMTString().substring(10,19)}"></td>
        <td th:text="${item.getTimeEnd().toGMTString().substring(10,19)}"></td>
        <td><a th:href="@{'/trainer/' + ${item.getTrainerByTrainerId().getTrainerId()}}" th:text="${item.getTrainerByTrainerId().getSurname()} + ' ' + ${item.getTrainerByTrainerId().getSurname()}"></a></td>
    </tr>
</table>
</body>
</html>