<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>newSub</title>
    <link href="content/style.css" type="text/css" rel="stylesheet">
    <base href="/">
</head>

<body onload="refresh()">
<div id="header" class="header">
    <p>Fitness club</p>
</div>

<div class="menu">
    <div class="nav">
        <ul class="topmenu">
            <li><a href="">Профиль</a></li>
            <li><a href="">Тренировки</a></li>
            <li><a href="">Проресс</a></li>
            <li><a href="">Уведомления</a></li>
        </ul>
    </div>
</div>
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/new_sub.js"></script>
<script type="text/javascript">

</script>
<div class="contentText">
    <form>
        <select name="activityId" id="activities" onchange="refresh()">
            <option th:each="item : ${activityList}"
                    th:value="${item.getActivityId()}"
                    th:utext="${item.getName()}"
                    th:selected="${item.getActivityId() == activityId}"/>
        </select>
        <br/>
        <select name="trainerId" id="trainers">
        </select>
        <br/>
        <label>
            <input type="radio" name="changer" value=0 checked onclick="change(0)">
            Количество
        </label>
        <br/>
        <label>
            <input type="radio" name="changer" value=1 onclick="change(1)">
            Период
        </label>
        <br/>
        <div id="dateDiv" style="display: none">
            <input type="number" name="year" id="year" class="dateInput" value=null placeholder="Год" onchange="recount()">
            <input type="number" name="month" id="month" class="dateInput" value=null placeholder="Месяц" onchange="recount()">
            <input type="number" name="week" id="week" class="dateInput" value=null placeholder="Неделя" onchange="recount()">
        </div>
        <div id="countDiv" style="display: inline">
            <input type="number" name="count" id="count" class="countInput" placeholder="Количество занятий"
                   onchange="recount()">
        </div>
    </form>
    <p id="price"></p>
    <p id="totalPrice"></p>
</div>
</body>