<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>newSub</title>
    <link href="content/style.css" type="text/css" rel="stylesheet">
    <base href="/">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/new_sub.js"></script>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet"/>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script> -->
</head>

<body onload="refresh()">
<div th:insert="header.html :: header-fragment"></div>
<!--<script>
    $(document).ready(function () {
        $('.select2').select2();
    });
</script> -->
<div class="contentText">
    <p th:text="${error}"></p>
    <form method="post">
        <!--  <select class="select2" name="activityId[]" id="activities" onchange="refresh()" multiple="multiple">
              <option th:each="item : ${activityList}"
                      th:value="${item.getActivityId()}"
                      th:utext="${item.getName()}"
                      th:selected="${item.getActivityId() == activityId}"/>
          </select> -->
        <select name="packId" id="packId" onchange="refresh()">
            <option th:each="item : ${packs}"
                    th:value="${item.getPackId()}"
                    th:utext="${item.getName()}">
            </option>
        </select>
        <br/>
        <!--  <select name="trainerId" id="trainers">
              <option></option>
          </select>
          -->
        <br/>
        <label>
            <input type="radio" name="changer" value=0 checked onclick="change(0)">
            Количество
        </label>
        <br/>
        <label>
            <input type="radio" name="changer" value=1 onclick="change(1)">
            Период
        </label>
        <br/>
        <div id="dateDiv" style="display: none">
            <input type="text" name="year" id="year" class="dateInput"
                   placeholder="Год" onchange="recount()">
            <input type="text" name="month" id="month" class="dateInput"
                   placeholder="Месяц" onchange="recount()">
            <input type="text" name="week" id="week" class="dateInput"
                   placeholder="Неделя" onchange="recount()">
        </div>
        <div id="countDiv" style="display: inline">
            <input type="number" name="count" id="count" class="countInput" placeholder="Количество занятий"
                   onchange="recount()">
        </div>
        <label>
            <input type="checkbox" name="activate" value="true">
            Активировать сразу?
        </label>
        <input type="submit" value="Оплатить">
    </form>
    <p id="price"></p>
    <p id="totalPrice"></p>
</div>
</body>