<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>First page</title>
    <link href="/content/style.css" rel="stylesheet">
</head>

<body>
<div id="header" class="header">
    <p>Fitness club</p>
</div>

<div class="menu">
    <div class="nav">
        <ul class="topmenu">
            <li><a href="">Профиль</a></li>
            <li><a href="">Клиенты</a></li>
            <li><a href="">Расписание</a></li>
            <li><a href="">Уведомления</a></li>
        </ul>
    </div>
</div>

<div class="section">
    <div class="sidebar">
        <img class="img-circle" src="/content/avatar.png" alt="none">
        <h1> Рейтинг </h1>
        <h1> User </h1>
        <h1> E-mail </h1>
    </div>
    <div class="contentText">
        <h2> Краткая характеристика</h2>
        <h2> Стаж </h2>
        <p> 7 лет </p>
        <h2> Специализация </h2>
        <p> Плавание </p>
        <h2> Обо мне </h2>
        <p> -------------------------------------------------------------------------------------- </p>
    </div>
</div>

<div class="copyright">
    &copy; 2019 My page. All rights reserved.
</div>
</body>

</html>