<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">

<head>
    <meta charset="UTF-8">
    <title>First page</title>
    <link href="/content/style.css" rel="stylesheet">
</head>

<body>
<div th:insert="header.html :: header-fragment"></div>

<div class="section">
    <div class="sidebar">
        <img class="round" th:src="*{'data:image/png;base64,'+avatar}" alt="none">
        <form method="post" enctype="multipart/form-data">
            <div class="upload_form">
                <label>
                    <input name="file" type="file" class="main_input_file" />
                    <div>Обзор...</div>
                    <input class="f_name" type="text" id="f_name" value="Файл не выбран." disabled />
                </label>
            </div>
            <input class="button button1" type="submit" value="Загрузить фото">
        </form>
        <h1 th:text = " 'Рейтинг: '+${trainer.getRating()}"></h1>
        <h1 th:text="${trainer.getSurname()} + ' ' + ${trainer.getName()}"></h1>
        <h1 th:text="${trainer.getEmail()}"></h1>
    </div>
    <div class="contentText">
        <h2> Краткая характеристика</h2>
        <p th:text="${trainer.getShortDescription()}"></p>
        <h2> Стаж </h2>
        <p th:text="${trainer.getExperience() + ' лет'}"></p>
        <h2> Специализация </h2>
        <p th:each="item:${specializations}" th:text="${item.getName()}"></p>

        <h2> Обо мне </h2>
        <p th:text="${trainer.getFullDescription()}"></p>

        <form method="post" action="/trainer/sub_check" sec:authorize="hasRole('CLIENT')">
            <input name="trainerId" th:value="${trainer.getTrainerId()}" readonly style="display: none">
            <input type="submit" class="button button_trainer_site" value="Записаться">
        </form>
    </div>
</div>

<div class="copyright">
    &copy; 2019 My page. All rights reserved.
</div>

<script>
    $(document).ready(function() {
        $(".main_input_file").change(function() {
            var f_name = [];
            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                f_name.push(" " + $(this).get(0).files[i].name);
            }
            $("#f_name").val(f_name.join(", "));
        });
    });
</script>
</body>

</html>