<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>First page</title>
    <link href="/content/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="/scripts/client_site.js"></script>
</head>

<body>
<div th:insert="header.html :: header-fragment"></div>
<div class="section">
    <h1>Запись достижений</h1>
<form method="post">
    <select name="achievementId" class="timetable_select">
        <option th:each="item: ${achList}" th:value="${item.getAchievementId()}"
                th:utext="${item.getActivityByActivityId().getName()}" }></option>
    </select>
    <input name="value" type="text" style="width: 30%"><br>
    <input type="submit" value="Записать" class="button button2" style="width: 30%">
</form>
</div>
</body>
</html>