<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="/static/content/style.css" rel="stylesheet">
</head>

<body>
<div id="header" class="header">
    <p>Fitness club</p>
</div>

<div class="menu">
    <div class="nav">
        <ul class="topmenu">
            <li><a href="">Профиль</a></li>
            <li><a href="">Тренировки</a></li>
            <li><a href="">Проресс</a></li>
            <li><a href="">Уведомления</a></li>
        </ul>
    </div>
</div>

<div class="section">
    <div class="sidebar">
        <div style="overflow:hidden;">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        <div id="datetimepicker12"></div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker12').datetimepicker({
                        inline: true,
                        sideBySide: true
                    });
                });
            </script>
        </div>
    </div>
    <div class="contentText">
        <h2>Мои данные</h2>
        <h2> Рост </h2>
        <p> 170см </p>
        <h2> Вес </h2>
        <p> 80кг </p>
        <h2> Достижения </h2>

        <div class="elements-gride" data-masonry='{ "itemSelector": ".element-item", "columnWidth": 200 }'>
            <img class="element-item" src="/content/1.png" alt="none"/>
            <img class="element-item" src="/content/1.png" alt="none"/>
            <img class="element-item" src="/content/1.png" alt="none"/>
            <img class="element-item" src="/content/1.png" alt="none"/>
            <img class="element-item" src="/content/1.png" alt="none"/>
            <img class="element-item" src="/content/1.png" alt="none"/>
            <img class="element-item" src="/content/1.png" alt="none"/>
            <img class="element-item" src="/content/1.png" alt="none"/>
            <img class="element-item" src="/content/1.png" alt="none"/>
            <img class="element-item" src="/content/1.png" alt="none"/>

        </div>

    </div>
</div>

<div class="copyright">
    &copy; 2019 My page. All rights reserved.
</div>
</body>

</html>