<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>First page</title>
    <link href="/content/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
<div th:insert="header.html :: header-fragment"></div>
<div class="section">
    <div class="sidebar">
        <img class="round" th:src="*{'data:image/png;base64,'+avatar}" alt="none">
        <br>
        <form method="post" enctype="multipart/form-data">
            <div class="upload_form">
                <label>
                    <input name="file" type="file" class="main_input_file" />
                    <div>Обзор...</div>
                    <input class="f_name" type="text" id="f_name" value="Файл не выбран." disabled />
                </label>
            </div>
            <input class="button button1" type="submit" value="Загрузить фото">
        </form>
        <h1 th:text="${client.getSurname()} + ' ' + ${client.getName()}"></h1>
        <h1 th:text="${client.getEmail()}"></h1>
    </div>
    <div class="contentText">
        <h2>Мои данные</h2>
        <h2> Рост </h2>
        <p th:text="${client.getHeight()}"> см </p>
        <h2> Вес </h2>
        <p th:text="${client.getWeight()}"> кг </p>
        <h2> Достижения </h2>

        <div class="elements-gride" data-masonry='{ "itemSelector": ".element-item", "columnWidth": 200 }'>
            <tr th:each="item: ${imageList}">
                <td><img th:title="${item.getTitle()}" th:src="*{'data:image/png;base64,'+item.getImage()}" alt=""/></td>
            </tr>
        </div>

    </div>
</div>

<div class="copyright">
    &copy; 2019 My page. All rights reserved.
</div>

<script>
    $(document).ready(function() {
        $(".main_input_file").change(function() {
            var f_name = [];
            for (var i = 0; i < $(this).get(0).files.length; ++i) {
                f_name.push(" " + $(this).get(0).files[i].name);
            }
            $("#f_name").val(f_name.join(", "));
        });
    });
</script>

</body>

</html>