<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title> More </title>
    <link href="/content/style.css" rel="stylesheet">
</head>

<body>
<div id="header" class="header">
    <p>Fitness club</p>
</div>

<div class="menu">
    <div class="nav">
        <ul class="topmenu">
            <li><a href="">Профиль</a></li>
            <li><a href="">Тренировки</a></li>
            <li><a href="">Проресс</a></li>
            <li><a href="">Уведомления</a></li>
        </ul>
    </div>
</div>

<div class="section-trainings">
    <div class="sidebar">
        <img class="img-circle" th:src="*{'data:image/jpg;base64,'+image}" alt="none">
    </div>
    <div class="contentText">
        <h2> Вид занятий </h2>
        <p th:text="${activity.getName()}"></p>
        <h2> Тренер </h2>
        <a th:each="item :${trainers}" th:href="@{'/trainer/' + ${item.getTrainerId()}}"
           th:text="|${item.getSurname()} ${item.getName()}|"></a>
        <h2> О занятиях </h2>
        <p th:text="${activity.getDescription()}"></p>
        <h2> Стоимость </h2>
        <p th:text="|За занятие: ${activity.getPriceForTrain()} За неделю: ${activity.getPriceForWeek()} За месяц: ${activity.getPriceForMonth()} За год: ${activity.getPriceForYear()}|"></p>
        <br/>
        <button class="button button3"> Назад</button>
        <button class="button button2"> Записаться</button>
    </div>
    <br/>
    <br/>
    <div class="elements-gride" data-masonry='{ "itemSelector": ".element-item", "columnWidth": 200 }'>
        <img class="element-item-more_about_trainings" src="/content/бассейн.jpg" alt="none"/>
        <img class="element-item-more_about_trainings" src="/content/бассейн2.jpg" alt="none"/>
        <img class="element-item-more_about_trainings" src="/content/бассейн3.jpg" alt="none"/>
    </div>
</div>

<div class="copyright">
    &copy; 2019 My page. All rights reserved.
</div>
</body>

</html>