<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>About training</title>
    <link href="/content/style.css" rel="stylesheet">
</head>

<body>
<div id="header" class="header">
    <p>Fitness club</p>
</div>

<div class="menu">
    <div class="nav">
        <ul class="topmenu">
            <li><a href="">Профиль</a></li>
            <li><a href="">Тренировки</a></li>
            <li><a href="">Проресс</a></li>
            <li><a href="">Уведомления</a></li>
        </ul>
    </div>
</div>

<div class="section">
    <div class="sidebar">
        <img class="img-circle" src="../../static/content/avatar.png" alt="none">
        <h1> Рейтинг </h1>
        <div id="reviewStars-input">
            <input id="star-4" type="radio" name="reviewStars"/>
            <label title="gorgeous" for="star-4"></label>

            <input id="star-3" type="radio" name="reviewStars"/>
            <label title="good" for="star-3"></label>

            <input id="star-2" type="radio" name="reviewStars"/>
            <label title="regular" for="star-2"></label>

            <input id="star-1" type="radio" name="reviewStars"/>
            <label title="poor" for="star-1"></label>

            <input id="star-0" type="radio" name="reviewStars"/>
            <label title="bad" for="star-0"></label>
        </div>
        <h1 style="text-align: right;"> Оценить </h1>
    </div>
    <div class="contentText">
        <h2> Вид занятий </h2>
        <p> Басик </p>
        <h2> Тренер </h2>
        <p> Иванов И.И. </p>
        <h2> Стоимость </h2>
        <p> 200р занятие </p>
        <h2> Программа тренировок </h2>
        <p> ---------------------------------------------------------------------------------------</p>
    </div>
</div>

<div class="copyright">
    &copy; 2019 My page. All rights reserved.
</div>
</body>

</html>