<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/content/style.css" type="text/css" rel="stylesheet">
</head>
<body>
<div th:fragment="header-fragment">
    <div id="header" class="header">
        <a href="/home" style="text-decoration: none"><p>Fitness club</p></a>
    </div>

    <div class="menu">
        <div class="nav">
            <ul class="topmenu">
                <li><a href="/client">Профиль</a></li>
                <li><a href="">Тренировки</a></li>
                <li><a href="">Проресс</a></li>
                <li><a href="">Уведомления</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>