<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Login</title>
    <link href="content/style.css" type="text/css" rel="stylesheet">
    <base href="/">
</head>

<body>
<div id="header" class="header">
    <p>Fitness club</p>
</div>

<div class="menu">
    <div class="nav">
        <ul class="topmenu">
            <li><a href="">Что-нибудь</a></li>
        </ul>
    </div>
</div>

<div class="section">
    <br/><br/>
    <h1> Войти </h1>
    <form method="post">
        <div class="reg" align="center">
            <input name="username" placeholder='Your username' type="text">
            <input name="password" placeholder='Your password' type='password'>
            <div>
                <button class="button button1">Войти</button>
            </div>
        </div>
    </form>
    <table>
        <tr th:each="message:${errorList}">
            <td th:text="${message}">.</td>
        </tr>
    </table>
</div>

<div class="copyright">
    &copy; 2019 Fitness club :D All rights reserved.
</div>
</body>

</html>