<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration</title>
    <link href="content/style.css" rel="stylesheet">
</head>

<body>
<div id="header" class="header">
    <p>Fitness club</p>
</div>

<div class="menu">
    <div class="nav">
        <ul class="topmenu">
            <li><a href="/home">Главная</a></li>
        </ul>
    </div>
</div>


<div class="section">
    <br/><br/>
    <h1> Регистрация </h1>
    <form method="post">
        <div class="reg" th:align="center">
            <input name="login" type="text" readonly th:value="${user.getLogin()}">
            <input name="password" type="password" readonly th:value="${user.getPassword()}">
            <input name="surname" placeholder='Фамилия' type="text">
            <input name="name" placeholder='Имя' type='text'>
            <input name="patronymic" placeholder='Отчество' type='text'>
            <input name="phone" placeholder='Номер телефона' type='text'>
            <input name="email" placeholder='e-mail' type='email'>
            <div>
                <button class="button button1">Зарегистрироваться</button>
            </div>
        </div>
    </form>
    <table>
        <tr th:each="message:${errorList}">
            <td th:text="${message}">.</td>
        </tr>
    </table>
</div>

<div class="copyright">
    &copy; 2019 Fitness club. All rights reserved.
</div>
</body>

</html>