<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Registration</title>
    <link href="content/style.css" rel="stylesheet">
</head>

<body>
<div id="header" class="header">
    <p>Fitness club</p>
</div>

<div class="menu">
    <div class="nav">
        <ul class="topmenu">
            <li><a href="/home">Главная</a></li>
        </ul>
    </div>
</div>


<div class="section">
    <br/><br/>
    <h1> Регистрация </h1>
    <form method="post" th:object="${user}">
        <div class="reg" align="center">
            <input name="login" placeholder='Логин' th:field="${user.login}" type="text">
            <p th:if="${#fields.hasErrors('login')}" th:errors="${user.password}" style="color:red"></p>
            <input name="password" placeholder='Пароль' type='password'>
            <p th:if="${#fields.hasErrors('password')}" th:errors="${user.password}" style="color:red"></p>
            <div>
                <button class="button button1">Продолжить</button>
            </div>
        </div>
    </form>
</div>

<div class="copyright">
    &copy; 2019 Fitness club :D All rights reserved.
</div>
</body>

</html>