<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="content/style.css" type="text/css" rel="stylesheet">
    <base href="/">
</head>
<body>
<div id="header" class="header">
    <a href="/home" style="text-decoration: none"><p>Fitness club</p></a>

</div>
<div class="menu">
    <div class="nav">
        <ul class="topmenu">
            <li><a href="/client">Профиль</a></li>
            <li>
                <a href="/trainer_list">
                    <div>Тренеры</div>
                </a>
            </li>
            <li sec:authorize="!hasRole('CLIENT')"><a href="/registration">
                <div>Регистрация</div>
            </a></li>
            <li><a href="/group_training">Расписание</a></li>
        </ul>
    </div>
</div>

<div class="section">
    <h1>Добро пожаловать в Fitness club</h1>
    <div style="width: 95%;align: center;">
    <h3 style="text-indent: 13%;">О нас</h3>
    <p style="text-indent: 6%; margin-left: 7%">Fitness club открыт для всех тех, кто желает заниматься спортом в приятной атмосфере и на качественном оборудовании.
        <br>Fitness club — это динамично развивающаяся сеть фитнес-клубов, которая идеально сочетает в себе доступные цены и высокое
        качество предоставляемых услуг. Это современный клуб с просторными яркими залами и большим количеством профессионального
        оборудования, с удобными раздевалками и душевыми. Здесь работают высококвалифицированные тренеры, которые составят индивидуальную
        программу тренировок и питания.
    </p>
        <div style="display: inline-block; margin-left: 25%" >
        <h3>Наши услуги</h3>
        <ul >
            <li>Групповые фитнес-программы</li>
            <li>Тренажерный зал</li>
            <li>Кардио-зона</li>
            <li>Зал аэробики</li>
            <li>Бассейн</li>
            <li>Зал йоги</li>
            <li>Персональный тренинг</li>
        </ul>
    </div>
        <div style="display: inline-block;  margin-left: 7%" >
        <h3>Наши преимущества</h3>
        <ul>
            <li>Доступные цены</li>
            <li>Просторный тренажерный зал</li>
            <li>Профессиональные тренажеры</li>
            <li>Высококвалифицированный персонал</li>
            <li>Индивидуальный подход</li>
            <li>Большая парковка</li>
            <li>Уютная и дружелюбная атмосфера</li>
        </ul>
        </div>
    </div>
</div>

<div class="copyright">
    &copy; 2019 Fitness club. All rights reserved.
</div>

</body>
</html>